# Node
node_modules/
dist/
build/
/*.log
npm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Vite / build
.env
.env.local
.env.*.local
/IncidentHub.UI/dist/
/IncidentHub.UI/node_modules/
/IncidentHub.API/node_modules/

# Editor
.vscode/
.idea/
.DS_Store
Thumbs.db

# OS
*.swp
*.swo

# Docker
docker-compose.override.yml
.env.development.local

# Misc
coverage/
*.local

